{% extends "base.html" %}
{% block content %}
  

   <div id="main" class="container-md">
 
        <h3>Detection History</h3>
        
        <div id="data" class="container-md">
            <table class="table table-bordered table-responsive table-success table-striped">
                <thead>
                <tr>
                    <th>Image Id</th>
                    <th>Classes</th>
                    <th>BBox</th>
                    <th>Scores</th>
                    <th>Detections</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <td>
                        <a href="/his_result/{{d[0]}}">{{d[0]}}</a>
                    </td>
                    <td>{{d[2]}}</td>
                    <td>{{d[1]}}</td>
                    <td>{{d[3]}}</td>
                    <td>{{d[4]}}</td>
                    <td><a href="/delete/{{d[0]}}">
                        <button class="btn"><i class="fa fa-trash"></i></button>
                      </a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

    </div>

    {% endblock %}
