body {
  background-color: rgb(231, 227, 195);
}

.container-md {
   /* border: 5px black solid; */
   margin-top: 10px;
}

#main {
   align-items: center;
   text-align: center;
}
/* 
#data {
   margin-top: 10px;
} */

.table {
   border: 1px solid rgb(0, 0, 0);
}